.header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 13vh;
  background-color: transparent;
}
.website-logo {
  height: 40px;
  width: 60px;
  margin-left: 9px;
}
.logout-button {
  height: 34px;
  width: 90px;
  border: 2px solid #c3cad9;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  color: #c3cad9;
}
